# YesCaptcha API key
YESCAPTCHA_KEY="your_key_here"

# TempMail.lol API key
TEMPMAIL_LOL_API_KEY="your_key_here"

# Optional proxy examples
# HTTP_PROXY="http://127.0.0.1:7892"
# HTTPS_PROXY="http://127.0.0.1:7892"
